# Created by .ignore support plugin (hsz.mobi)

### Windows template
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk


### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Linux template
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### JetBrains
.idea

### Drupal8 Composer
/drupal8-composer/composer.lock
/drupal8-composer/docker/.env
/drupal8-composer/config/*
!/drupal8-composer/config/default
/drupal8-composer/config/default/*
!/drupal8-composer/config/default/sync
/drupal8-composer/config/default/sync/*
!/drupal8-composer/config/default/sync/.htaccess
/drupal8-composer/private
/drupal8-composer/reports
/drupal8-composer/web/*
!/drupal8-composer/web/modules
/drupal8-composer/web/modules/*
!/drupal8-composer/web/modules/custom
!/drupal8-composer/web/sites
/drupal8-composer/web/sites/*
!/drupal8-composer/web/sites/default
/drupal8-composer/web/sites/default/*
!/drupal8-composer/web/sites/default/tpl.services.yml
!/drupal8-composer/web/sites/default/tpl.settings.php

### Drupal8 Recommended
/drupal8-recommended/composer.lock
/drupal8-recommended/docker/.env
/drupal8-recommended/config/*
!/drupal8-recommended/config/default
/drupal8-recommended/config/default/*
!/drupal8-recommended/config/default/sync
/drupal8-recommended/config/default/sync/*
!/drupal8-recommended/config/default/sync/.htaccess
/drupal8-recommended/private
/drupal8-recommended/reports
/drupal8-recommended/web/*
!/drupal8-recommended/web/modules
/drupal8-recommended/web/modules/*
!/drupal8-recommended/web/modules/custom
!/drupal8-recommended/web/sites
/drupal8-recommended/web/sites/*
!/drupal8-recommended/web/sites/default
/drupal8-recommended/web/sites/default/*
!/drupal8-recommended/web/sites/default/tpl.services.yml
!/drupal8-recommended/web/sites/default/tpl.settings.php

### Symfony
/symfony/composer.lock
/symfony/docker/.env
/symfony/.env.test
/symfony/symfony.lock
/symfony/phpunit.xml.dist
/symfony/bin
/symfony/src
/symfony/controler
/symfony/public
/symfony/tests
/symfony/var
/symfony/vendor

### Symfony Website
/symfony-website/composer.lock
/symfony-website/docker/.env
/symfony-website/.env.test
/symfony-website/symfony.lock
/symfony-website/phpunit.xml.dist
/symfony-website/bin
/symfony-website/config
/symfony-website/public
/symfony-website/src/*
!/symfony-website/src/Controller
/symfony-website/src/Controller/*
!/symfony-website/src/Controller/LuckyController.php
/symfony-website/templates/*
!/symfony-website/templates/lucky
/symfony-website/templates/lucky/*
!/symfony-website/templates/lucky/number.html.twig
/symfony-website/tests
/symfony-website/translations
/symfony-website/var
/symfony-website/vendor
